<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="landing  page, vocab trainer">
    <meta name="keywords" content="SaHolly-Design, Vocab-Trainer, UCBX Coding Bootcamp">
    <meta name="author" content="Sabine Hollatz">
    <title>Vocab-Trainer by SaHolly-Design</title>
    <link rel="stylesheet" type="text/css" href="./styles/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Domine|Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">
</head>

<body>
    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./js/games.js"></script>
     <script src="./js/words.js"></script>
</body>

</html>