<div id="about_body">
    <header>
        <div class="header_content">
            <h1><a id="home" href="/">Home</a></h1>
            <div class="navigation">
                <!--<a id="home" href='index.html'>Home</a> still under development-->
                <a id="words" href="/words">Words</a>
                <a id="games" href="/games">Games</a>
                <a id="feedback" href="mailto:deb@ztallohs@gmail.com">Feedback</a>
                <a id="about" href="/about">About</a>  
            </div>
        </div>
    </header>
    <br class="clearfloat">

    <section class="main">
        <div id="main_content_about">
            <h2>About the Project</h2>
            <hr>
            <p id="about_project">This app was developed to help students learning German. The German language compared to English has many different suffixes 
                for the same word depending on case and gender of a noun. Separable and inseparable verbs have different ways to build past tense forms
                and verbs with "ieren" and irregular verbs have even more. Long story short there are many details in the German language that need to be practiced
                and this app is intended to help the beginner and intermediate learners. Under Words you will be able to choose between a translator, adding words to your
                personal database and a traditional notecard vocabulary builder, and your own personal. The Games section offers matching pairs and solitaire 
                which are tailored to practice important concepts of the German language which need memorization. Please do not hesitate to send me 
                an email under Feedback with any questions, concerns or ideas that you may have.</p>
            <br><br>
            <h2>About the Author</h2>
            <hr>
            <p id="about_me"><img id="portrait" src="./images/moi_small.jpg" alt="Sabine Hollatz">Sabine is both, a teacher and a student. 
                She taught science in High School, but studies currently Computer Science
                and Graphic Design with emphasis on Web Development, and Machine Learning. The longterm goal is to develope
                engaging apps for everybody who is interested in learning new skills.
                <br> If not studying or at work, you can usually find Sabine hiking in one of California's State Parks, brewing
                a new beer recipes, or singing karaoke enthusiastically.
            </p>

        </div>
    </section>

    <footer>
        <div class="copyright">
            Copyright &copy;
        </div>
    </footer>
</div>