<body id="about_body">
    <header>
        <div class="header_content">
            <h1><a id="home" href="http://localhost:3000/">Home</a></h1>
            <div class="navigation">
                <!--<a id="home" href='index.html'>Home</a> still under development-->
                <a id="words" href="http://localhost:3000/words">Words</a>
                <a id="games" href="http://localhost:3000/games">Games</a>
                <a id="feedback" href="mailto:deb@ztallohs@gmail.com">Feedback</a>
                <a id="about" href="http://localhost:3000/about">About</a>  
            </div>
        </div>
    </header>
    <br class="clearfloat">

    <section class="main">
        <div id="main_content_about">
            <h2>About the Project</h2>
            <hr>
            <p>Description of the project</p>
            <br><br>
            <h2>About the Author</h2>
            <hr>
            <p id="about_me"><img id="portrait" src="./images/moi_small.jpg" alt="Sabine Hollatz">Sabine is both, a teacher and a student. 
                She taught science in High School, but studies currently Computer Science
                and Graphic Design with emphasis on Web Development, and Machine Learning. The longterm goal is to develope
                engaging apps for everybody who is interested in learning new skills.
                <br> If not studying or at work, you can usually find Sabine hiking in one of California's State Parks, brewing
                a new beer recipes, or singing karaoke enthusiastically.
            </p>

        </div>
    </section>

    <footer>
        <div class="copyright">
            Copyright &copy;
        </div>
    </footer>
</body>