<div id="about_body">
    <header>
        <div class="header_content">
            <h1><a id="home" href="/">Home</a></h1>
            <div class="navigation">
                <!--<a id="home" href='index.html'>Home</a> still under development-->
                <a id="games" href="/games">Play!</a>
                <a id="words" href="/words">Add Words</a>
                <a id="feedback" href="mailto:deb@ztallohs@gmail.com">Feedback</a>
                <a id="about" href="/about">About</a>  
            </div>
        </div>
    </header>
    <br class="clearfloat">

    <section class="main">
        <div id="main_content_about">
            <h2>About the Project</h2>
            <hr>
            <p id="about_project">This app is being developed to help students learn German - starting with matching nouns and articles. 
                In any language, memorizing words is necessary, but often dry and boring. By offering a more playful approach, the work becomes sweeter. 
                More features such as matching words and translations or verbs with their tenses are currently under development.
                Under <span class="italic">Add Words</span> you can add nouns to the game. Please do not hesitate to send me an email under <span class="italic">Feedback</span> with any questions, concerns or ideas that you may have.</p>
            <br><br>
            <h2>About the Author</h2>
            <hr>
            <p id="about_me"><img id="portrait" src="./images/moi_small.jpg" alt="Sabine Hollatz">Sabine is both, a teacher and a student. 
                She taught science in High School, but studies currently Computer Science
                and Graphic Design with emphasis on Web Development, and Machine Learning. The longterm goal is to develope
                engaging apps for everybody who is interested in learning new skills.
                <br> If not studying or at work, you can usually find Sabine hiking in one of California's State Parks, brewing
                a new beer recipes, or singing karaoke enthusiastically.
            </p>

        </div>
    </section>

    <footer>
        <div class="copyright">
            Copyright &copy;
        </div>
    </footer>
</div>

