<div id="games_body">
    <header>
        <div class="header_content">
            <h1><a id="home" href="/">Home</a></h1>
            <div class="navigation">
                <!--<a id="home" href='index.html'>Home</a> still under development-->
                <a id="words" href="/words">Words</a>
                <a id="games" href="/games">Games</a>
                <a id="feedback" href="mailto:deb@ztallohs@gmail.com">Feedback</a>
                <a id="about" href="/about">About</a>
            </div>
        </div>
    </header>
    <br class="clearfloat">
    <section class="sidebar">
        <div class="game_choice">
            <h6>Choose a Game:</h3>
            <select class="chosen-select" id="game_choice">
                <option value="Matching Pairs">Matching Pairs</option>
            </select>
        </div>
        <br>
        <div class="figureOfSpeech_choice">
            <h6>Choose a Figure of Speech:</h6>
            <select class="chosen-select" id="figureOfSpeech_choice">
                <option value="nouns">nouns</option>
            </select>
        </div>
        <br>
        <div class="games_options">
            <h6>Choose an Option:</h6>
            <select class="chosen-select" id="games_option_choice">
                <option value="translation">translation</option>
                <option value="article">article</option>
                <option value="gender">gender</option>
                <option value="plural">plural</option>
            </select>
        </div>
        <br>
        <button id="select_words_choice">Start!</button>
    </section>
    <section class="main">
        <div id="main_content_games">
            <h2>Games Games Games</h2>
            <hr>
            <div class="games_cards_container">

            </div>
            <br class="clearfloat"><br>
            <div class="message" id="games_message">

            </div>
        </div>
    </section>
    <section class="results">
        <h2>Great Work!</h2>
        <hr>
        <div id="results_table">

        </div>

    </section>

    <footer>
        <div class="copyright">
            Copyright &copy;
        </div>
    </footer>
</div>