<div id="words_body">
    <header>
        <div class="header_content">
            <h1><a id="home" href="/">Home</a></h1>
            <div class="navigation">
                <a id="games" href="/games">Play!</a>
                <a id="words" href="/words">Add Words</a>
                <a id="feedback" href="mailto:deb@ztallohs@gmail.com">Feedback</a>
                <a id="about" href="/about">About</a>
            </div>
        </div>
    </header>
    <br class="clearfloat">
{{!--     <section class="sidebar">
        <div class="words_choice">
            <h6>What do you want to do?</h6>
            <select class="chosen-select" id="words_choice">
                <option value="translate">translate</option>
                <option value="add word(s) to my list" id="add_words">add word(s)</option>
                <option value="build vocabulary" id="build vocabulary">practice</option>
            </select>
        </div>
        <br>
        <div class="words_options">
            <h6>Choose an Option:</h6>
            <select class="chosen-select" id="words_option_choice">
            </select>
        </div>
        <br>
        <button id="select_words_choice">Start!</button>
 --}}
    </section>
    <section class="main">
        <div id="main_content_words">
            <h2 id="word_title">Add a Word</h2>
            <hr>
            <form id="words_container">

            </form>
        </div>
    </section>

    <footer>
        <div class="copyright">
            Copyright &copy;
        </div>
    </footer>
</div>
